header {
    background-color: #F0EFE9;
    padding: 1rem;
  }
  header .container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
    grid-template-areas: "logo bars";
  }

  header .container .btn-menubars {
    grid-area: bars;
    border: none;
    font-size: 1.5rem;
    background-color: transparent;
  }
 
  header .container .logo {
    grid-area: logo;
    margin-right: 4.4rem;
  }
  header .container .contact-info {
    grid-area: ci;
    display: none;
    justify-content: flex-start;
    align-items: center;
  }

  header .container .contact-info a {
    transition: transform 0.2s;
  }
  header .container .contact-info a:hover {
    color: #858585;
    cursor: pointer;
  }
  header .container .contact-info a:hover i {
    transform: scale(1.1) translateY(-2px);
  }
  header .container .contact-info .content-box {
    padding-right: 1.9rem;
    margin-right: 1.9rem;
    border-right: 0.05rem solid #DAD9D3;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #191919;
    text-decoration: none;
  }
  header .container .contact-info .content-box i {
    margin-right: 0.3rem;
    font-size: 1.2em;
  }
  header .container .contact-info .content-box.last {
    border: none;
  }
  header .container .social {
    grid-area: social;
    display: none;
  }

  header .container .social a {
    color: #191919;
    font-size: 1.3rem;
    margin-left: 0.6rem;
    transition: transform 0.2s;
    display: inline-block;
  }
  header .container .social a:hover {
    color: #949494;
    transition: transform 0.2s;
    transform: scale(1.3) translateY(-3px);
  }
  header .container .menu {
    grid-area: menu;
    display: none;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #DAD9D3;
    margin-top: 0.6rem;
    padding-top: 0.6rem;
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
  }
  
  header .container .menu nav a {
    display: inline-block;
    color: #191919;
    text-decoration: none;
    margin-right: 2.2rem;
    position: relative;
  }
  header .container .menu nav a.active {
    font-weight: 500;
  }
  header .container .menu nav a.active::after, header .container .menu nav a:hover::after {
    content: "";
    position: absolute;
    font-weight: 500;
    height: 0.1rem;
    width: 0.9rem;
    background-color: #191919;
    left: 50%;
    bottom: -0.2rem;
    transform: translate(calc(50% - 15px));
  }
  header .container .menu .btn-login {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }